/* ========== Controls ========== */

div#video-player div#controls {
position: relative;
width: 848px;
font-size: 12px;
padding: 1px 2px;
background-color: #000;
text-align: right;
}

div#video-player div#controls input[type="button"] {
margin: 3px 2px;
font-size: 12px;
color: #ccc;
background: #191919 -webkit-gradient(linear, left top, left bottom, from(#191919), to(#090909));
border-radius: 2px;
-moz-border-radius: 2px;
border: 1px solid gray;
}

div#video-player div#controls input[type="button"]:hover {
background: #333 -webkit-gradient(linear, left top, left bottom, from(#393939), to(#191919));
border-color: #ccc;
-webkit-transition: border-color 0.8s linear;
}

div#video-player div#controls input#button-play-pause {
float: left;
}

div#video-player div#controls span#video-length {
font-size: 12px;
font-weight: bold;
padding: 1px 15px;
}

div#video-player div#slider {
float: left;
margin: 4px 2px;
}

div#video-player div#slider .slider-bar {
margin-left: 15px;
background: #191919 -webkit-gradient(linear, left top, left bottom, from(#191919), to(#090909));
border-radius: 8px;
-moz-border-radius: 8px;
border: 1px gray solid;
overflow: hidden;
}

div#video-player div#slider .slider-handle {
position: relative;
top: 1px;
left: 1px;
background: #999;
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-transition: background-color 0.5s linear;
}

div#video-player div#slider .slider-handle:hover {
background-color: #ddd;
-webkit-transition: background-color 0.2s linear;
}

/* ========== Playlist ========== */

div#video-player div#playlist ul {
margin: 0;
padding: 0;
display: block;
list-style: none;
}

div#video-player div#playlist ul li {
padding: 0.35em 24px 0.35em 0.6em;
margin: 0;
font-size: 0.7em;
font-weight: bold;
color: #999;
background-color: #191919;
border-bottom: 1px solid gray;
cursor: pointer;
-webkit-transition: background-color 0.2s linear;
}

div#video-player div#playlist ul li:hover {
background-color: #000;
}

div#video-player div#playlist ul li.selected {
background-color: #000;
}

div#video-player div#playlist ul li a {
display: block;
color: #ccc;
text-decoration: none;
}

div#video-player div#playlist ul li a:visited {
color: #666;
}

