@import url('style-video.css');

header, footer, article, section, nav, menu, hgroup {
display: block;
}

body {
padding: 0;
margin: 0;
background-color: #111;
color: #ccc;
font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

header {
height: 1em;
margin: 0;
padding: 0.2em 0;
text-align: center;
background: -webkit-gradient(linear, left top, left bottom, from(#090909), to(#111));
}

header h1 {
display: none;
margin: 0;
padding: 0.2em 0;
color: rgb(145,72,0);
font-size: 1.4em;
letter-spacing: 0.2em;
text-shadow: rgb(255,128,0) 0px 0px 1px;
opacity: 0.6;
}

header h2 {
margin: 0;
padding: 0.2em 0;
font-size: 0.8em;
text-shadow: #ccc 0px 0px 3px;
}

footer {
clear: both;
margin: 0.6em;
padding: 0.3em;
text-align: center;
text-shadow: #000 1px 1px 1px;
opacity: 0.6;
}

footer ul {
display: inline;
list-style: none;
}

footer ul li {
display: inline;
}

footer ul li:first-child:before {
content: '';
}

footer ul li:before {
content: '- ';
}

footer ul li a {
color: #ccc;
text-decoration: none;
}

footer ul li a:hover {
text-decoration: underline;
}

