div#video-player {
display: table;
margin: 0 auto;
}

/* ========== Video ========== */

div#video-player div#video {
width: 848px;
height: 540px;
background-color: black;
border-radius: 0.3em;
-moz-border-radius: 0.3em;
border-style: solid;
border-color: gray;
border-width: 1px;
-webkit-box-shadow: 0px 0px 3px #000;
-moz-box-shadow: 0px 0px 3px #000;
box-shadow: 0px 0px 3px #000;
display: table-cell;
}

div#video-player div#video div a {
color: #77f;
}

div#video-player div#video div a:visited {
color: #446;
}

/* ========== Controls ========== */

div#video-player div#controls {
position: relative;
width: 848px;
background-color: #090909;
border-top: solid gray 1px;
}

/* ========== Playlist ========== */

div#video-player div#playlist {
display: table-cell;
vertical-align: top;
}

div#video-player div#playlist ul {
display: block;
list-style: none;
margin: 8px 0 0 0;
padding: 0;
overflow: auto;
height: 524px; /* video-player-height - 2 * this.margin-top */
min-width: 60px;
max-width: 260px;
background-color: #090909;
border-radius: 0 0.3em 0.3em 0;
-moz-border-radius: 0 0.3em 0.3em 0;
border-style: solid;
border-color: gray;
border-width: 1px 1px 1px 0;
-webkit-box-shadow: 0px 0px 3px #000;
-moz-box-shadow: 0px 0px 3px #000;
box-shadow: 0px 0px 3px #000;
}

div#video-player div#playlist ul li {
padding: 0.35em 24px 0.35em 0.6em;
margin: 0;
font-size: 0.7em;
font-weight: bold;
color: #999;
background-color: #191919;
white-space: nowrap;
border-bottom: 1px solid gray;
cursor: pointer;
-webkit-transition: background-color 0.2s linear;
}

div#video-player div#playlist ul li:hover {
background-color: #000;
}

div#video-player div#playlist ul li.selected {
background-color: #000;
}

div#video-player div#playlist ul li a {
display: block;
color: #ccc;
text-decoration: none;
}

div#video-player div#playlist ul li a:visited {
color: #666;
}

