div#admin {
overflow: auto;
font-size: 0.8em;
height: 540px;
}

/* ========== Tabs ========== */

div#admin-tabs {
-moz-border-radius-topleft: 0.1em;
border-top-left-radius: 0.1em;
-moz-border-radius-topright: 0.1em;
border-top-right-radius: 0.1em;
background-color: #ccc;
background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(gray));
color: #111;
font-size: 1.8em;
height: 2em;
line-height: 2em;
}

div#admin-tabs a {
color: inherit !important;
text-decoration: none;
}

div#admin-tabs ul {
display: inline;
list-style: none;
}

div#admin-tabs ul li {
display: inline;
margin-right: 1em;
}


/* ========== Content ========== */

div#admin-content {
padding: 1em;
margin: 0.5em;
overflow: auto;
height: 444px;
}

div#admin-content ul {
margin-left: 0em;
padding-left: 2em;
}

/* ========== File Browser ========== */

div#admin-content ul#file-browser {
}

div#admin-content ul#file-browser > li {
font-size: 1.6em;
margin: 1em 0 0.8em 0;
list-style: none;
}

/* ========== Playlist ========== */

div#side-panel-inner div#playlist ul {
margin: 0;
padding: 0;
display: block;
list-style: none;
}

div#side-panel-inner div#playlist ul li {
padding: 0.35em 24px 0.35em 0.6em;
margin: 0;
font-size: 0.7em;
font-weight: bold;
color: #999;
background-color: #191919;
border-bottom: 1px solid gray;
cursor: pointer;
-webkit-transition: background-color 0.2s linear;
}

div#side-panel-inner div#playlist ul li:hover {
background-color: #000;
}

div#side-panel-inner div#playlist ul li.selected {
background-color: #000;
}

div#side-panel-inner div#playlist ul li a {
display: block;
color: #ccc;
text-decoration: none;
}

div#side-panel-inner div#playlist ul li a:visited {
color: #666;
}

div#side-panel-inner div#playlist a:hover {
text-decoration: line-through !important;
}

